@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0; 
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

#root { 
  height: 100vh;
}

@layer utilities {
  .text-stroke {
    -webkit-text-fill-color: rgb(72, 124, 120);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: 1px;
  }

}